*~
*es-AR.yml
*fr.yml
*pt-PT.yml
*.orig
coverage
*.log
*.sqlite3
app/stylesheets/themes/bec-green
app/stylesheets/themes/blue
app/stylesheets/themes/drastic-bec
app/stylesheets/themes/green
app/stylesheets/themes/plain
app/stylesheets/themes/shapado
app/stylesheets/themes/sof
public/stylesheets/compiled/
config/shapado.yml
data/*.dat
config/database.yml
base_packaged.*
