@import mixins

=active_tab
  background-color: white
  color: #333
  +rounded(8px, 8px, 0px, 0px)

=active_subtab
  +rounded(4px, 4px, 4px, 4px)
  background-color: #333
  color: #eee

  &:hover
    background: #ffcc33 !important
    color: #333

  a, a:active, a:visited, a:link
    color: #333

@import navigation
