#top-bar
  -if logged_in?
    -if current_user.owner_of?(current_group)
      .entry
        =link_to t(".admin"), manage_properties_path, :class => "manage_link"
        |
    -if current_user.mod_of?(current_group)
      .entry
        =link_to t("layouts.application.moderate"), moderate_path, :class => "moderate_link"
        |
    .entry
      = gravatar(current_user.email.to_s, :size => 16)
      %strong
        = link_to(h(current_user.login), user_path(current_user))
      %span.reputation{:title => t("activerecord.attributes.user.reputation")}=format_number(current_user.reputation_on(current_group))

      // This will eventually show both global and local reputation        
      //%span.reputation-local{:title => t("activerecord.attributes.user.reputation")}=format_number(current_user.reputation_on(current_group))

      |
    -if !current_group.isolate && AppConfig.enable_groups
      .entry
        %ul.combobox
          %li
            =link_to t("activerecord.models.groups"), groups_path
            %ul
              -current_user.groups(:select => [:name, :domain]).each do |group|
                %li
                  =link_to h(group.name), domain_url(:custom => group.domain)
        |
    .entry
      =link_to t("layouts.application.settings"), settings_path
      =link_to t(".user_page"), user_path(current_user)
      |
    .entry
      =link_to t("layouts.application.friends"), friends_path
      |
    .entry
      =link_to t("layouts.application.logout"), destroy_user_session_path
      |
  -else
    -if AppConfig.is_shapadocom && !current_group.isolate
      .entry
        =link_to t("doc.plans.plans"), domain_url(:custom => AppConfig.domain, :controller=>"doc",:action=>"plans")
        |
    -top_bar_links.each do |link|
      .entry
        =link
        |
    .entry
      %strong
        =link_to t("layouts.application.log_in"), new_user_session_path
      |
  .entry
    Search: 
    - form_tag search_path, :method => :get, :style => "max-width: 10%; display: inline" do
      = text_field_tag :q, params[:q], :id => "search-field"
      = submit_tag("?", :id => "search-submit")
  .entry.think
    =link_to image_tag('/images/think/think_transparent_icon_16.png', :height => "16x", :width =>"16px"), domain_url

.clear



