%ul
  %li.questions
    =link_to t("layouts.application.questions"), questions_path
  %li.tags
    =link_to t("layouts.application.tags"), tags_questions_path
  %li.users
    =link_to t("People"), users_path
  %li.badges
    =link_to t("layouts.application.badges"), badges_path
  %li.groups
    =link_to t("layouts.application.groups"), groups_path
  %li.unanswered.last
    =link_to t("layouts.application.unanswered"), unanswered_questions_path
  %li.search-form
    .search-field
      - form_tag search_path, :method => :get, :style => "margin-left: 20px; max-width: 10%; display: inline" do
        = text_field_tag :q, params[:q], :id => "search-field"
        %input{:type => "submit", :style => "width:20px; height:20px;padding:0;background:blue;", :value => "&#0187;"}
