%ul
  %li.unanswered
    =link_to h('...'), unanswered_questions_path
  %li.questions
    =link_to h('Group Thoughts'), questions_path
  %li.users
    =link_to h('Groupies'), users_path
  %li.badges
    =link_to h('Medals'), badges_path

  %li.unanswered
    =link_to t("layouts.application.group_thoughts"), questions_path
  //%li.tags
  //=link_to t("layouts.application.tags"), tags_questions_path


  %li.groups
    =link_to t("layouts.application.groups"), groups_path
  %li.think
    =link_to image_tag('http://thne.ws/brands/think/icon_transparent.png', :height => "18x", :width =>"18px"), domain_url
  %li.ask_question
    =link_to h("Share a thought..."), new_question_path, :rel => 'nofollow'


