%ul
  %li.button
    =link_to t("layouts.application.group_thoughts"), questions_path
  %li.button
    =link_to t("layouts.application.users"), users_path
  %li.button
    =link_to t("layouts.application.badges"), badges_path
  %li.button
    =link_to t("layouts.application.groups"), groups_path
  %li.button
    =link_to h('...'), unanswered_questions_path
  %li.ask_question
    =link_to h("Share a thought..."), new_question_path, :rel => 'nofollow'

  //%li.think
  /=link_to image_tag('/images/think/icon_transparent.png', :height => "18x", :width =>"18px"), domain_url



