%ul
  %li.questions
    =link_to t("layouts.application.questions"), questions_path
  %li.unanswered
    =link_to h('Links'), unanswered_questions_path
  %li.tags
    =link_to t("layouts.application.tags"), tags_questions_path
  %li.users
    =link_to t("layouts.application.users"), users_path
  %li.badges
    =link_to t("layouts.application.badges"), badges_path
  %li.groups
    =link_to t("layouts.application.groups"), groups_path
  %li.unanswered
    =link_to h('Drift...'), unanswered_questions_path
  %li.ask_question
    =link_to h("Group thinking..."), new_question_path, :rel => 'nofollow'
  %li.think
    =link_to image_tag('/images/think/think_icon_transparent.png', :height => "18x", :width =>"24px"), domain_url


