#top-bar
  .entry
    float: left
    margin-left: 4px
    a
      color: #eee
    a:hover
      color: #111
    .gravatar
      line-height: 20px
      display: inline
      margin-bottom: -5px
    .reputation
      background: #2C5883
      font-weight: bold
      font-size: 10px
      color: #fff
      +rounded(4px,4px,4px,4px)
      padding: 2px 3px
    #search-field
      width: 208px
      height: 20px
      background: #93C4F4 url(/images/think/think-search-icon.png) no-repeat right 50%
      padding: 0px 8px
      border: 0
      +rounded(8px,8px,8px,8px)
  padding: 0
  margin: 4px 0
  line-height: 24px
  font-weight: bold
  font-size: 0.9em
  float: right
  color: #eee
  a
    color:white
  a:hover
    color:black 
