#top-bar-outer
  background: #fff url(/images/think/github-bar-left.png) no-repeat

#top-bar
  .entry
    float: left
    margin-left: 4px
    a
      color: white
      text-shadow: #2C5883 -1px -1px 0px
    a:hover
      color: black
      text-shadow: #555 -1px -1px 0px
    .gravatar
      line-height: 20px
      display: inline
      margin-bottom: -5px
    .reputation
      background: #2C5883
      font-weight: bold
      font-size: 10px
      color: #fff
      +rounded(4px,4px,4px,4px)
      padding: 2px 3px
    #search-field
      width: 148px
      height: 18px
      background: #4c82c4 url(/images/think/think-search-icon.png) no-repeat right 50%
      padding: 0px 8px
      border: 1px inset #2C5883
      +rounded(2px,2px,2px,2px)
  padding: 0
  margin: 0
  height: 40px
  line-height: 36px
  font-weight: normal
  font-size: 0.9em
  float: right
  color: #fff
  text-shadow: #2C5883 -1px -1px 0px
  background: url(/images/think/think-bar-right.png) no-repeat right -75%
  //+rounded(0px,0px,8px,8px)
  a
    color:black
  a:hover
    color:pink 
