
-if !current_group.footer.blank?
  #footer_container
    =current_group.footer
-else


-unless current_group.isolate || current_group.private
  #default_footer.left
    == Powered by #{link_to 'Shapado', 'http://gitorious.org/shapado'} #{AppConfig.version}.#{AppConfig.increment} licensed under the #{link_to 'GNU Affero GPL','http://www.fsf.org/licensing/licenses/agpl-3.0.html'}

